/* Main CSS File */

:root {
  --height-Navbar: 62px;

  --woodBrown: #754D24;
  --pergamentWhite: #CBBBA0;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 112px;
  background-image: url("../assets/backgroundAnimated.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


@font-face {
  font-family: "BreathFire";
  src: url("../assets/Fonts/Breathe_Fire_II.otf") format("opentype");
}
@font-face{
  font-family: "PerpetuaTitlingMT";
  src: url("../assets/Fonts/Perpetua_Titling_MT_Std.otf") format("opentype");
}
@font-face{
  font-family: "Montserrat";
  src: url("../assets/Fonts/Montserrat/Montserrat-Regular.otf") format("opentype");
}
h1 {
  font-size: 8rem;
  color: black;
  text-align: center;
  font-family: BreathFire;
  font-weight: 400;
}
h2 {
  text-align: center;
  font-size: 3rem;
  font-family: PerpetuaTitlingMT;
  color: white;
  font-weight: 100;
}
h3 {
  text-align: center;
  font-size: 42px;
  font-family: Montserrat;
  color: white;
  font-weight: 100;
}
p{
  font-family: Montserrat;
  font-size: 15px;
  line-height: 25px;
}

.posRelative{
  position: relative;
}
#startFrameHrefAnchor{
  position: absolute;
  top: -112px;
}
#ttrpgHrefAnchor{
  position: absolute;
  top: -62px;
}
#weltHrefAnchor{
  position: absolute;
  top: -62px;
}
#karteHrefAnchor{
  position: absolute;
  top: -62px;
}
#toolsHrefAnchor{
  position: absolute;
  top: -62px;
}
#downloadsHrefAnchor{
  position: absolute;
  top: -62px;
}