#diceRoller{
    display: none;
}
#mobileNav{
    display: none;
}

@media (max-width: 75rem) { /* min 1200px */
    #desktopNav{
        display: none;
    }
    #mobileNav{
        display: block;
    }
    body{
        border: solid red 2px;
        margin-top: 0px;
    }
    h3{
        font-size: 100px;
    }
    p{
        font-size: 40px;
        line-height: 60px;
    }
    /* Start Bereich */
    #startframe{
        height: 100vh;
        width: 100vw;
    }
    #startframeDecoLeft{
        display: none;
    }
    #startframeDecoRight{
        display: none;
    }
    #middleSection{
        width: 95%;
    }
    /* Karte Bereich */
    #karte{
        display: none;
    }
    /* Welt Bereich */
    #weltBook{
        display: none;
    }
    /* Tools Bereich */
    #tools{
        display: none;
    }
    #diceRoller{
        display: block;
    }
    #diceBox{
        width: 90vw;
        height: 100vh;
        margin: auto;
    }
    #diceInnerBox{
        width: 100%;
        height: 50%;
        position: relative;
        background-color: var(--pergamentWhite);
        padding-top: 10%;
    }
    #dice{
        width: 80%;
        height: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #diceZahl{
        font-size: 1000%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 30%;
    }
    #rollDiceBtn{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 75%;
        width: 40%;
        height: 10%;
        font-size: 500%;
        background-color: var(--pergamentWhite);
    }
    #radioField{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 90%;
        width: 80%;
        height: fit-content;
        text-align: center;
        font-size: 300%;
    }
    /* Download Bereich */
    #downloadKachelBox{
        width: 80%;
    }
    .kachel {
        width: 100%;
    }
}
@media (min-width: 48rem) { /* min 768px */

}
@media (min-width: 62rem) { /* min 992px */

}
@media (min-width: 75rem) { /* min 1200px */

}

#mobileNav{
    background-color: #1E1E23;
    height: var(--height-Navbar);
}
#menu a{
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
}
#menu a:hover{
    opacity:0.5;
}
#menu ul{
    padding: 0;
    list-style-type: none;
}
  
  
  
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    right: 0px;
    width: 180px;
    height: 400px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(150%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }