/* CSS File: Startseite */

#startframe {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/backgroundAnimated.svg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.startframeRahmen {
  height: 100vh;
}

#startframeLogo img {
  margin-top: 15%;
  width: 75vh;
}

