/* CSS File: Startseite */

#startframe {
  width: 100%;
  height: calc(100vh - 112px); /* gesamte Höhe Minus die Höhe der Navbar */
  /*
  background-image: url("../assets/backgroundAnimated.svg");
  background-size: cover;
  */
  display: flex;
  justify-content: space-between;
}

.startframeRahmen {
  height: calc(100vh - 112px); /* gesamte Höhe Minus die Höhe der Navbar */
}

#startframeLogo img {
  margin-top: 15%;
  width: 75vh;
}

