/* CSS File: TTRPG-Bereich */

/* Erster Teil: Navigation */
#mobileTTRPG{
    display: none;
}
#ttrpgNav{
    margin-top: 0px;   
    position: relative; 
    min-height: 650px;
}
#ttrpgNav > h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5rem;
}
#sprechblase{
    height: 200px;
    width: auto;
    position: absolute;
    left: 27%;
    top: 150px;
    background-image: url("../assets/ttrpg/Intro_TTRPG_Textbox.svg");
    background-repeat: no-repeat;

}
#sprechblase > p{
    font-size: 1.25rem;
    text-align: center;
    padding-left: 12px;
    padding-top: 15px;
    max-width: 45%;

}
#crowTTRPG{
    height: 200px;
    position: absolute;
    right: -28%;
    bottom: -90px;
    z-index: 10;
    
}
#ttrpgNavbar{
    position: absolute;
    top: 410px;
    width: 80%;
    min-height: 120px;
    margin-left: 10%;
    background-image: url("../assets/ttrpg/Intro_TTRPG_NavBar.svg");
    background-repeat: no-repeat;
    background-size: 100%;    
}


.questionBox{
    position: absolute;
    width: 25%;
    height: 100%;
    text-align: center;
    font-family: PerpetuaTitlingMT;
    cursor: pointer;
}
.questionBox > p{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.questionBox:nth-child(1){
    left: 0px;
}
.questionBox:nth-child(2){
    left: 25%;
}
.questionBox:nth-child(3){
    left: 50%;
}
.questionBox:nth-child(4){
    left: 75%;
}
.navbarQuestionsImg{
    height: 120%;
    visibility: hidden;
}

/* Zweiter Teil */

.ttrpgUnterseite p {
    color: white;
}

.erklaertext {
    padding: 3rem;
    background-color: #00000075;
}

.ttrpgUnterseite{
    height: calc(100vh - 67px);
    max-width: 1400px;
    width: 80vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
    position: relative;
}
.ttrpgUnterseite p{
    margin-left: 80px;
    margin-right: 80px;
}
/* Zweiter Teil: Was ist ein TTRPG? */
#videoFrame{
    height: 60%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#wasIstYtVideo{
    height: 44.4%;
    width: calc(44.4% * 1.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 14%;
    border: solid black 6px;
    background-color: black;
}
/* Zweiter Teil: Wie funktioniert ein TTRPG? */

/* Zweiter Teil: Was Brauche Ich */
#questionsFrame{
    height: 70%;
    width: 40%;
    position: absolute;
    top: 20%;
    left: 2%;
    background-image: url("../assets/ttrpg/Intro_TTRPG_2_Textbox_2.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#questions p{
    font-size: 1.3em;
    color: black;
    margin: 0;
    margin-top: 8%;
    cursor: pointer;
}
#questions{
    padding-top: 10%;
    margin: auto;
    width: 60%;
    
}
#houseContainer{
    position: absolute;
    bottom: 2%;
    right: 0px;
    height: 60%;
}
#house{
    height: 90%;
}
#sprechblaseHouse{
    height: 30%;
    width: auto;
    position: absolute;
    top: -23%;
    left: 20%;
    background-image: url("../assets/ttrpg/Intro_TTRPG_Textbox.svg");
    background-repeat: no-repeat;
}
#sprechblaseHousePara{
    font-size: 1.5em;
    text-align: center;
    width: 28%;
    margin-left: 4%;
    margin-top: 3%;
}
#crowWasBraucheIch{
    height: 80%;
    position: absolute;
    right: 35%;
    top: 45%;
}
#housePicture{
    height: 46%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13%;
}
/* Zweiter Teil: Welche Aufgaben hat der Spielmeister */

/* Media Query */
@media only screen and (min-width: 720px) {
    
    #ttrpgQ4 {
        top: -6%;
    }    

}