/* CSS File: TTRPG-Bereich */

/* Erster Teil: Navigation */
#ttrpgNav{
    /*background-image: url("../assets/backgroundAnimated.svg");*/
    margin-top: 0px;   
    position: relative; 
    min-height: 650px;
}
#ttrpgNav > h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5rem;
}
.anchor{
    position: absolute;
    left: 0;
    top:  calc(var(--height-Navbar) * -1);
}
#sprechblase{
    height: 200px;
    width: auto;
    position: absolute;
    left: 25%;
    top: 200px;
    background-image: url("../assets/ttrpg/Intro TTRPG_Textbox.svg");
    background-repeat: no-repeat;

}
#sprechblase > p{
    font-size: 1.5em;
    text-align: center;
    padding-left: 12px;
    padding-top: 15px;
    max-width: 45%;
}
#crowTTRPG{
    height: 200px;
    position: absolute;
    right: -25px;
    bottom: -40px;
    z-index: 10;
}
#ttrpgNavbar{
    position: absolute;
    top: 410px;
    width: 80%;
    min-height: 120px;
    margin-left: 10%;
    background-image: url("../assets/ttrpg/Intro\ TTRPG_NavBar.svg");
    background-repeat: no-repeat;
    background-size: 100%;    
}
#ttrpgNavbar p{
    font-size: 18px;
}
.questionBox{
    position: absolute;
    width: 25%;
    height: 100%;
    text-align: center;
    font-family: PerpetuaTitlingMT;
    cursor: pointer;
}
.questionBox > p{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.questionBox:nth-child(1){
    left: 0px;
}
.questionBox:nth-child(2){
    left: 25%;
}
.questionBox:nth-child(3){
    left: 50%;
}
.questionBox:nth-child(4){
    left: 75%;
}
.navbarQuestionsImg{
    height: 120%;
    visibility: hidden;
}

/* Zweiter Teil */
.ttrpgUnterseite{
    height: calc(100vh - 67px);
    max-width: 1400px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
    position: relative;
}
.ttrpgUnterseite p{
    margin-left: 80px;
    margin-right: 80px;
}
/* Zweiter Teil: Was ist ein TTRPG? */
#videoFrame{
    height: 60%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#videoTTRPG{
    height: 45%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 130px;
    border: solid 5px black;
}
/* Zweiter Teil: Wie funktioniert ein TTRPG? */

/* Zweiter Teil: Was Brauche Ich */
#questionsFrame{
    height: 70%;
    width: 25%;
    position: absolute;
    top: 20%;
    left: 100px;
    background-image: url("../assets/ttrpg/Intro\ TTRPG_2_Textbox_2.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#questions p{
    font-size: 1.3em;
    margin: 0;
    margin-top: 20px;
    cursor: pointer;
}
#questions{
    padding-top: 30px;
    margin: auto;
    width: 60%;
}
#houseContainer{
    position: absolute;
    bottom: 10px;
    right: 0px;
    height: 60%;
}
#house{
    height: 100%;
}
#sprechblaseHouse{
    height: 200px;
    width: auto;
    position: absolute;
    top: -50px;
    left: 200px;
    background-image: url("../assets/ttrpg/Intro TTRPG_Textbox.svg");
    background-repeat: no-repeat;
}
#sprechblaseHousePara{
    font-size: 1.5em;
    text-align: center;
    width: 220px;
    margin-left: 30px;
    margin-top: 30px;
}
#crowWasBraucheIch{
    height: 200px;
    position: absolute;
    right: -280px;
    top: 30px;
}
#housePicture{
    height: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px
}
/* Zweiter Teil: Welche Aufgaben hat der Spielmeister */